*.py[cod]
jnpr/space/test/test.conf
.project
.pydevproject
.DS_Store

#Packaging related
*.egg
*.egg-info
setup.py
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib64
env
*.orig
*.bak*
.gitignore

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
